@page "/"

<PageTitle>Index</PageTitle>
<h1>Icon Fontsのアイコン一覧</h1>
<div>Icon made from <a href="http://www.onlinewebfonts.com/icon"  target="new">Icon Fonts</a> is licensed by CC BY 3.0</div>
<div>あなたのアイコンを作成して下さい.</div>
@if (SVGs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var svg in SVGs)
    {
        <div style="display:inline-block;">
            <img id="@svg.URL" src='@svg.imgSrc' style="width:100px;" onclick="selectImg(this)">
        </div>
    }
}
<div id="selectedImage" style="width:100%;text-align:center;border:4px dotted #0000ff;border-radius:10px; margin-top:2rem;"></div>
<div id="message">@currentXML</div>
@code{
    private List<SVGIcon> SVGs = new List<SVGIcon>();
    private MarkupString? currentXML {get; set; }
    protected override async Task OnInitializedAsync()
    {
        SVGs = await getSVGs();
    }
    async Task<List<SVGIcon>> getSVGs(){
        HttpClient httpClient = new HttpClient();
        var result = new List<SVGIcon>();
        for(var i = 155117; i < 155127; i++){
            result.Add(new SVGIcon()
            {
                URL="http://cdn.onlinewebfonts.com/svg/download_"+ i.ToString() + ".svg",
                ViewURL="https://pic.onlinewebfonts.com/svg/img_"+ i.ToString() + ".png"
            });
            var res = await httpClient.GetStringAsync(result.LastOrDefault()!.URL);
            if (string.IsNullOrEmpty(res))
            {
                @* some code *@
            }
            else
            {
                var xml = new System.Xml.XmlDocument();
                xml.LoadXml(res);
                var content = "";
                if(xml.LastChild != null){
                    content = xml.LastChild.OuterXml;
                }
                result.LastOrDefault()!.XML= new MarkupString(content);
            }
        }
        return result;
    }
    public class SVGIcon
    {
        public string? URL { get; set; }
        public string? ViewURL { get; set; }
        public MarkupString? XML { get; set; }
        public MarkupString? imgSrc { 
            get
            {
                return (MarkupString)("data:image/svg+xml;utf8," + XML);
            }
        }
    }
}